@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f17228;
  border-radius: 10px;
}
